body {
  background-color: #f4f4f4;
  font-family: 'MedievalSharp', sans-serif;
}

ons-toolbar {
  background-color: #6d4c41;
  color: white;
}

ons-card {
  margin: 10px;
}

#collect-tax {
  margin: 20px;
}
